.slider_item {
    display: flex !important;
width: 100%;
}

    .slider_image {
        flex: 0 1 50%;
        position: relative;
        overflow: hidden;
        min-height: 350px;
        padding: 20% 0 0 0;
    }

        .henry_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        .slider_description {
            flex:1 1 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #53354A ;
            padding: 114px 0px 107px 85px;
        }
            .slider_text {
                max-width: 60%;
                color:#FFFFFF ;
                font-family: 'Cardo', Arial, sans-serif;
                font-size: 38px;
                font-style: italic;
                text-align: left;
                margin-bottom: 30px;
            }

            .slider_position {
                color: #FFFFFF;
                font-family: 'Raleway', Arial, sans-serif;
                font-size: 13px;
                font-weight: 700;
                text-align: left;
                text-transform: uppercase;
                margin-bottom: 64px;
            }

.download{
    padding: 100px 0px;
}

.download-container{
    text-align: center;
}
.download-top{
    color: #2d3033;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 16px;
}

.download-main{
    color: #2d3033;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.download-button{
    background: #e84545;
    padding: 18px 83px;
    border-radius: 2px;
    color: #ffffff;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    transition-duration: 0.8s;
}
.download-button:hover{
    background-color: black;
    color:#e84545;
    
}
.download-button:hover{
    transform: scale(2);
}
